{% extends "navbar.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Verifica si el objeto user fue pasado (siempre debería ser true aquí) -->

<article class="content">
{% if user %}
<h1 style="color: #10B981;">¡Bienvenido(a), {{ user.fname }}!</h1>
<p class="message">Has iniciado sesión exitosamente. Esta es tu página de inicio protegida.</p>
{% else %}
<h1>Bienvenido</h1>
<p class="message" >Contenido principal de la aplicación.</p>
{% endif %}

<p>Utiliza el navbar superior para navegar a tu perfil o cerrar sesión.</p>
</article>
{% endblock %}